.ProyectItem {
    // position: relative;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 100%;
}

.proyectMedia {
    width: 90%;
    margin: 0 auto;
}

.proyectImg {
    width: 100%;
}

.proyectDescription {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    font-family: "Clash Display";
    margin-top: 0.3125rem;

    h3 {
        font-size: 1.4375rem;
        font-weight: 400;
    }

    p {
        margin: 0;
        font-size: 0.8125rem;
        font-weight: 300;
    }
}

@media (min-width: 600px) {
    .ProyectItem {
        width: 40%;
        padding-bottom: 80px;
    }
}