.AboutConteiner {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about_title {
  font-size: 25px;
  font-family: "Clash Display";
  padding: 50px 27px 44px 27px;
}

.about_text {
  padding: 0 27px 0 50px;
  font-family: "Montserrat Custom", sans-serif;
}

.cardContainer {
  width: 100%;
  padding-bottom: 80px;
  // padding: 0 6px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.profile_content {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.about_containt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.profile_img {
  width: 70%;
  max-width: 450px;
  border-radius: 50%;
  margin: 0 auto;
}

.my_skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
  max-width: 1600px;


  h3 {
    padding-left: 3.125rem;
    padding-bottom: 0.625rem;
    font-family: "Clash Display";
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .about_text {
    width: 50%;
  }
  .img_container {
    width: 50%;
    order: 1;
    margin-bottom: 0;
    // margin-left: 20px;

    .profile_img {
      width: 80%;
    }
  }
}

@media (min-width: 955px) {

  .profile_img {
    width: 50%;
  }
}
