.AboutConteiner {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_title {
    font-size: 25px;
    font-family: "Clash Display";
    padding: 50px 27px 44px 27px;
}

.about_text {
    padding: 0 27px 80px 27px;
    font-family: "Montserrat Custom",sans-serif;
}

.cardContainer {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.about_containt {
    width: 100%;
}

@media (min-width: 955px) {
    .about_containt {
        display: flex;

        .about_text {
            width: 50%;
        }

        .cardContainer {
            width: 50%;
        }
    }
}